stages:
  - validate
  - plan
  - apply

default:
  tags:
    - infra
    - terraform
    - vds
    - shell

validate:
  stage: validate
  script:
    - terraform -version
  only:
    - merge_requests

plan:
  stage: plan
  script:
    - echo "Terraform plan stage"
  only:
    - merge_requests

apply:
  stage: apply
  script:
    - echo "Terraform apply stage"
  only:
    - main
