name: Terraform CI

on:
  pull_request:
    paths:
      - "terraform/**"
  push:
    branches:
      - main
    paths:
      - "terraform/**"

jobs:
  validate:
    name: Terraform Validate
    runs-on: self-hosted

    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init -backend=false

      - name: Terraform Validate
        run: terraform validate

  plan:
    name: Terraform Plan
    runs-on: self-hosted
    needs: validate

    if: github.event_name == 'pull_request'

    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - run: terraform init -backend=false
      - run: terraform plan -no-color

  apply:
    name: Terraform Apply
    runs-on: self-hosted
    needs: validate

    if: github.ref == 'refs/heads/main'

    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3

      - run: terraform init
      - run: terraform apply -auto-approve