name: Terraform CI/CD

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:

  validate:
    name: Terraform Validate
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init -backend=false
      - run: terraform validate


  plan:
    name: Terraform Plan
    runs-on: ubuntu-latest
    needs: validate
    if: github.event_name == 'pull_request'

    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init -backend=false
      - run: terraform plan -no-color


  apply:
    name: Terraform Apply
    runs-on: self-hosted
    needs: validate
    if: github.event_name == 'push'

    defaults:
      run:
        working-directory: terraform

    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init
      - run: terraform apply -auto-approve